.signUpForm {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 0rem;
}
.signUpForm .form-group {
    /*margin-bottom: 2rem;*/
    text-align: center;
}
.signUpForm label {
}
.signUpForm label .glyphicon:hover {
    color: #4DB7E7;
}
.signUpForm  input {

}
.signUpForm button {
    font-size: 2rem;
    margin-top: 15px;
}
.signUpForm button, .signUpForm  input {
    width: 100%;
    font-weight: bold;
    border-radius: 0;
    border: none;
}
.btn-primary {
    background-color: crimson;
}
.btn-primary:hover {
    background-color: #E54161;
}
.form-control:focus {
    border: none;
    outline: 0;
     -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e6e6e6;
}
