body {
    font-family: 'BenchNine', sans-serif;
    font-size: 2rem;
    color: white;
    background-color: #eaa931;
    margin: 0;
}

/*=====================================================================
=========================== HEADER STYLES =============================
=====================================================================*/
header {
    background-color: #4DB7E7;
    padding: 1rem;
}
header .mainHeader {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0 auto 1rem;
    width: 320px;
    text-align: center;
}
header a {
    color: white;
}
.mainHeader a:hover {
    color: white;
    text-decoration: none;
}
.contact a:hover {
    color: white;
    opacity: 0.6;

}
.postcardStyle {
    font-size: 5rem;
    text-shadow: -4px 4px 0 crimson;
}
.scriptStyle {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-weight: 300;
}
.contact {
    text-align: center;
}
.contact-item {
    display: inline;
    margin: 3rem;
}
/*.modal {
    color: gray;
    padding: 1rem;
}*/
@media (max-width: 480px) {
    header .mainHeader {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        margin: 0 auto 1rem;
        width: 300px;
        text-align: center;
    }
    .postcardStyle {
        font-size: 3rem;
        text-shadow: -2.5px 2.5px 0 crimson;
    }
}
/*=====================================================================
======================== MAIN SECTION STYLES ==========================
=====================================================================*/
.mainSection {

}
.introText {
    text-trans: uppercase;
    text-align: center;
    margin: 0rem 0;
}

/*=====================================================================
======================== SIGN UP FORM STYLES ==========================
=====================================================================*/
.signUpForm {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 0rem;
}
.signUpForm .form-group {
    /*margin-bottom: 2rem;*/
    text-align: center;
}
.signUpForm label {
}
.signUpForm label .glyphicon:hover {
    color: #4DB7E7;
}
.signUpForm  input {

}
.signUpForm button {
    font-size: 2rem;
    margin-top: 15px;
}
.signUpForm button, .signUpForm  input {
    width: 100%;
    font-weight: bold;
    border-radius: 0;
    border: none;
}
.btn-primary {
    background-color: crimson;
}
.btn-primary:hover {
    background-color: #E54161;
}
.form-control:focus {
    border: none;
    outline: 0;
     -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e6e6e6;
}


/*=====================================================================
+======================== PLAYER LIST STYLES ==========================
=====================================================================*/
.playerList {
    font-size: 3rem;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    padding-top: 15px;
}
.playerIndex {
    font-size: 2rem;
    font-weight: lighter;
    margin-right: 2rem;
}
.player {
    margin: 5px 0;
}
span.rsvpButton {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
    line-height: normal;
    margin-top: -4px;
    cursor: pointer;
    background: crimson;
}
/*span.rsvpButton:hover {
    background: #E54161;
}*/
span.rsvpButton.replyYes {
    background: #4DB7E7;
}
/*span.rsvpButton.reply-yes:hover {
    background: rgba(50, 205, 50, 0.6);
}*/
span.playerName {
    line-height: 3rem;
    padding: 0 2% 0 5%;
}

@media (max-width: 480px) {
    .playerList {
        font-size: 18px;
        padding: 10px;
    }
}
@media (max-width: 991px) {
    .playerList {
        font-size: 22px;
        padding: 10px;
    }
}

/*@media (min-width: 992px) {
    .playerList {
        border-left: white 1px solid;
    }
}*/

/*=====================================================================
============================ FOOTER STYLES ============================
=====================================================================*/
/*footer {
    background-color: #4DB7E7;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 2rem;
}
.footerInfo {

    width: 100%;
    padding: 1rem;
}*/

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-trans: scale(1.5); /* IE */
  -moz-trans: scale(1.5); /* FF */
  -webkit-trans: scale(1.5); /* Safari and Chrome */
  -o-trans: scale(1.5); /* Opera */
  padding: 10px;
}
